**/*.Rproj.user/
**/*.Rhistory
**/*.RData
**/*.Ruserdata
**/*.Rproj
**/figures/
**/*_cache/
**/*.DS_Store
experiment_1/analysis/rl_modeling_code/all_data.mat
experiment_2/analysis/rl_modeling_code/all_data.mat